
<!-- BEGIN BLK_FASE -->
<div class="bdf">
  <div style="padding: 13px; color: red; font-size: 20px;">
    <a data-toggle="collapse" href="#{ID_FASE}" aria-expanded="false" aria-controls="{ID_FASE}">{FASE}</a>
  </div>
  <div class="collapse" id="{ID_FASE}">
<!-- BEGIN BLK_PRINCIPAL -->
      <div class="bd">
        <div style="padding: 10px; color: blue; font-size: 18px;">
          <a data-toggle="collapse" href="#{ID}" aria-expanded="false" aria-controls="{ID}">{DATA}</a>
        </div>
        <div class="collapse" id="{ID}">
          <!-- BEGIN TABLE_GAME -->
          <table>
            <thead>
              <tr class="row">
                 <th style="text-align:center;">{HORA}</th>
                 <th class="e1">{EQUIPE1}</th>
                 <th class="versus">X</th>
                 <th class="e2">{EQUIPE2}</th>
                 <th class="versus" style="padding:30px;">Placar: <br/><span id="resultado_{JOGOROT}_E1">{PLACAR_E1}</span> x <span id="resultado_{JOGOROT}_E2">{PLACAR_E2}</span></th>
              </tr>
            </thead>
            <tbody>
              <!-- BEGIN ROW_PALPITEIROS -->
              <tr class="row lineAp">
                <td class="col-sm-3">
                  <div class="palpiteiro"><label>{PALPITEIRO}</label></div>
                </td>
                <td class="col-sm-2">
                  <div class="form-group">
                    <input type="number" min="0" max="20" {ATTRIB_PALP_E1} class="form-control e1inp" id="e1_{JOGOROT}_{PALP}" value="{VALUE_E1}" />
                  </div>
                </td>
                <td class="col-sm-2">
                  <div class="versus">X</div>
                  <!-- BEGIN CAMPO_APOSTAS -->
                  <div class="">
                    <small class="blue">Apostar</small>
                    <input type="number" min="0" class="form-control" id="aposta_{JOGOROT}_{PALP}" value="{VALUE_APOSTA}" />
                  </div>
                  <!-- END CAMPO_APOSTAS -->
                </td>
                <td class="col-sm-2">
                  <div class="form-group">
                    <input type="number" min="0" max="20" {ATTRIB_PALP_E2} class="form-control e2inp" id="e2_{JOGOROT}_{PALP}" value="{VALUE_E2}" />
                  </div>
                </td>
                <td class="col-sm-3">
                  <div class="form-group">
                    <button {BT_DISABLED} type="button" class="btn btn-danger" onclick="palpitar('{JOGOROT}_{PALP}');">Palpitar</button>
                  </div>
                  <span class="{CSS_COLOR}">
                    <label>{PONTO_MARCADO_NO_JOGO}</label>
                  </span>
                  <span class="{CSS_COLOR_APOSTA}">
                    <label>{PONTO_MARCADO_NA_APOSTA}</label>
                  </span>
                </td>
              </tr>
              <!-- END ROW_PALPITEIROS -->
            </tbody>
            <!-- END TABLE_GAME -->
          </table>
        </div>
      </div>
      <!-- END BLK_PRINCIPAL -->
    </div>
  </div>
<!-- END BLK_FASE -->
